﻿@model SARDT.Models.Video

@{
    ViewBag.Title = "VideoList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>VideoList</h2>

<iframe width="960" height="720" src="@Model.URL" frameborder="0"></iframe>
