body {
  padding-top: 20px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

/* Main space and slide show stuff */
.jumbotron {
  text-align: center;
  background-color: transparent;
  width: 100%;
  padding: 14px 24px;
  font-size: 21px;
  clear: both;
}

figure {
    width:100%;
    text-align:center;
    height:inherit;
}

figure img {
    width:100%;
    margin-top:25px;
    /*max-height:700px;*/
    /*max-height:inherit;*/
    max-width:500px;
    height:inherit;
}

.imgcontain {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.imgright {
    margin-top:50px;
}
.messagingMemberList {
    height: 400px;
    overflow: hidden;
    overflow-y:scroll;
}

.messageBody {
    height: 380px;
    margin-top: 20px;
    width: inherit;
    resize: none;
}

.messenger-header {
    width: 100%;
}

.messenger-header-text {
    width: 50%;
}

.messenger-text {
    font-size: 14px;
    text-overflow:clip;
}

.messenger-content {
    height: 400px;
    overflow: hidden;
    overflow-y:scroll;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

/*.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #777;
  text-align: center;
  background-color: #e5e5e5;*/ /* Old browsers */
  /*background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:         linear-gradient(to bottom, #f5f5f5 0%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 );*/ /* IE6-9 */
  /*background-repeat: repeat-x;*/ /* Repeat the gradient */
  /*border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}*/

.navbar
{
    background-color: #BCD3CA;
    border-color: #0F0F0F;
    
}

.nav
{
    color: #0F0F0F;
    font-size: 150%;
}

.panel-primary
{
    border-color: #0F0F0F;
    
}

.panel-primary > .panel-heading
{
    background-color: #BCD3CA;
    color: #0F0F0F;
    border-color: #0F0F0F;
    text-align: left;
}

/*event hiding and showing on public page*/
p {
  margin: 0;
}

.row {
  margin: 0;
}

.events {
    background-color: #eee;
    padding: 5px;
	width:100%;
}

.events h2
{
    text-align: center;
}

.event {
  color: #222;
  background: rgba(255,255,255,.9);
  border-spacing: 2px;
  border-color: gray;
  font-family: arial,sans-serif;
  border-bottom: 1px #e5e5e5 solid;
}

.current .item {
  background: rgba(206,220,206,.9);
}

.item {
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 7px;
}

.item .source {
  margin-left: 0px;
}

.item .date {
  text-align: center;
}

.item .title{
    text-align: center;
    font-weight: bold;
}

.item .eventtime {
  text-align: center;
}

p .date {
margin-left:0px;
padding-left:0px;
}

.item .eventdate {
  text-align: right;  
}

.description {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}
