
@{
    ViewBag.Title = "EditText";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Text For:</h2>

@Html.ActionLink("Home Page", "IndexEdit") <br />
@Html.ActionLink("History Page", "HistoryEdit") <br />
@Html.ActionLink("Application Page", "ApplicationEdit") <br />
@Html.ActionLink("Contact Info Page", "ContactEdit")