@model SARDT.Models.PublicVM
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table>

    @foreach (var item in Model.textList)
    {
        <tr>
            <td>
                @Html.DisplayFor(item.Section)
            </td>
            <td>
                @Html.DisplayFor(item.Body)
            </td>
        </tr>
    }
</table>