
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <h2>History of the Dive Team</h2>
        @ViewBag.BodyText <br />

        <!--remove before go live-->
        @Html.ActionLink("Edit Text", "Index", "WebContent")


