@model SARDT.Models.PublicVM

@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Html.DisplayFor(model => model.textList[0].Section)</h2>
@Html.DisplayFor(model => model.textList[0].Body)



