@model SARDT.Models.PublicVM

@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Html.DisplayFor(model => model.textList[0].Section)</h2>
@Html.DisplayFor(model => model.textList[0].Body)

<div class="row">
    <div class="col-sm-7 text-left">
        <h2>@Html.DisplayFor(model => model.textList[1].Section)</h2>
        <p>@Html.DisplayFor(model => model.textList[1].Body)</p>
    </div>

    <div class="col-sm-5 text-left">
        <figure>
            <img src="" />
            <figcaption></figcaption>
        </figure>
    </div>
</div>